<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Stay up to date with your favorite crypto's latest news</h1>
        <h3>Get up-to-the-second news sent to your phone when your cryptos rises or falls significantly.</h3>
        <form action="/" method="post">
            <label>All we need is the crypto symbol (in CAPS):</label>
            <input type="text" placeholder="Crypto symbol" name="symbol">
            <label>and your phone number:</label>
            <input type="text" placeholder="phone number" name="phone">
            <button type="submit">SUBMIT</button>
        </form>
    </div>

</body>
</html>